@font-face {
    font-family: cocogose;
    src: url(fuentes/Cocogoose-Pro-Bold-trial.ttf);
}

@font-face {
    font-family: altone;
    src: url(fuentes/AltoneTrial-Regular.ttf);
}

@font-face {
    font-family: altonebold;
    src: url(fuentes/AltoneTrial-Bold.ttf);
}


html {
    scroll-behavior:smooth;
}
body {
    background-color:#0e2430;
}


h1, h2{
    text-align: center;
    color:white;
}

h1{
    font-family: altonebold;
    font-size: 250%
}

h2 {
    font-family: altone;
    margin-top: 3%;
    color: white;
}



h6{
    color:#0e2430;
    font-size: 200%;
    font-family: altonebold;
    text-align: center;
    padding: 2%;
    font-size: 220%;
}


h5 {
    font-family: altonebold;
    color:#0e2430;
}

h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}


.span-titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

span{
    color:#f5b349;
    font-size: 120%;
}

p {
    font-family: altone;
}

.numero {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
    color: #f5b349;
    font-size: 500%;
    font-style: none;
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    display: inline-block;
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina relleno */
}
a:hover{
color: white;
}




/*SECCION 1*/
.seccion1 {
    text-align: center; 
    height: 5%;
    padding: 2%;
}


.seccion1 {
    text-align: center;
    opacity: 100;
    animation: aparecer 1s ease-out forwards; 
}

#jony-foto{
    width: 15%;
    height: 100%;
    display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}


/*SECCION 2 */
.seccion2{
    width:100%;
    height: auto;
    margin-top: 5%;
    padding-top: 5%;
    background-color:white;
    text-align: center; 
    align-items: center;
}

#contenedor-seccion2 {
    padding-bottom: 10%;
    padding-right: 2.8%;    
    padding-left: 2.8%;

}

.descripcion {
    text-align: center;
    color:#0e2430;
    font-family: altone;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 120%;
    
}
#logo-ort , #logo-uba {
    width: 30%;
    margin-top: 5%;
}

#logo-ort {
    color: #0e2430;
}

#experiencias {
    padding: 10%;
}

#carta1-estudios , #carta2-estudios {

    border:#e8d5b9 solid 2px;
    border-radius: 5px;

}


#carta-animada.mostrar {
    opacity: 1;
    transform: translateY(0);
}




/*SECCION 3 */

.seccion3 {
    background-color:#0e2430 ;
    color: #ffffff;
    padding-top: 5%;
    background-size:cover;
    background-position: center;
    padding-bottom: 2%;
    border-bottom: #0e2430 solid 100px;
}
.text-muted {
    color: white !important;
}

#titulo1-seccion3 , #titulo2-seccion3 {
    padding: 1%;
    color:#ffffff;
    text-shadow: 2px 2px 10px rgb(2, 6, 14);
    opacity: 100;
    font-family: altonebold;
    text-align: center;   
    font-size: 200%;
}
#titulo2-seccion3 {
    margin-top: 4%;
}

#icono-skill {
    color: #f5b349;
    padding-bottom: 4%;
}


#box1 , #box2 , #box3 {
    padding: 2%;
    margin: 1%;
    border:#e8d5b9 solid 1px;
    padding-left: 15%;
padding-right: 15%;
border-radius: 5px;


}


#titulo-box {
    color: #ffffff;
}
strong {
    color:#f5b349;;
}

.text-muted {
    margin-top: 8%;

}

#texto-conocimientos {
    color: #f5b349;
    border-radius: 12px;
    border:#e8d5b9 solid 1px;
    margin-right: 1.5%;
    margin-left: 1.5%;

border-radius: 5px;}

#box1-conocimientos , #box2-conocimientos , #box3-conocimientos {
    padding: 1%;
    margin: 1%;



}

/* SECCION 4 */


.seccion4 {
    background-color:white;
    padding-bottom: 2%;
    padding-top:  2%;
}


.titulo-seccion4 {
    padding-bottom: 4%;

}
.carta-cuerpo {
    text-align: justify;
}

.logoexperiencia {
    width: 50%; 
    height: auto;
    border:#f5b349 solid 1px;
    border-radius: 2px;

}



.card-title {
    color:#0e2430;
    font-family: altoneBold;
    font-style: italic;
}
#contienecarta {
    max-width: 100%;
    margin: 0;
}

.header{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2%;
}

#contenedor-seccion4 {
    padding-bottom: 2%;

}
