
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}



@media only screen and (max-width: 3000px)  and (min-width: 1600px) {
    #nav-bar {
        margin: 4%;
    }

    #boton-say-hello {
        color:white;
        font-size: 120%;
        border-color:#f5b349;
        border-style:dashed;
        border-radius: 30px;
        font-family: altonebold;
    transition: all 1s ease;
      position: fixed;
      right: 5%; /* Ajusta la posición desde el lado derecho en porcentaje */
      top: 5%; /* Ajusta la posición desde la parte superior en porcentaje */
    }
    
    
    
}

@media only screen and (max-width: 1000px)  and (min-width:300px) {
    h1{
        font-size: 180%;
    }
    h6 {
        font-size: 150%;
    }
    
    }
    
@media only screen and (max-width: 650px)  and (min-width:420px) {
#jony-foto {
    width: 30%;
    height: 100%;
    margin-top: 7%;

}
}

    @media only screen and (max-width: 420px)  and (min-width: 280px) {
        h1{
            font-size: 140%;
            padding: 4%;
            padding-top: 8%;
        }
        h2 {
            font-size: 110%;
        }
        #jony-foto{
            width: 30%;
            height: 100%;
            margin-top: 7%;
        }
        h6 {
            font-size: 120%;
            padding-top: 10%;

        }
        p {
            font-size: 80%;
        }
    }


    @media only screen and (max-width: 745px) and (min-width: 280px) {
        .row.gx-3.gy-3 {
            display: flex;
            flex-wrap: wrap;
        }
        .row.gx-3.gy-3 .col {
            flex: 0 0 100%;
            max-width: 100%;
        }

        h6 {
            font-size: 140%;
    
        }

        .descripcion {
            font-size: 100%;
        }
    p{
        font-size: 90%;
    }

    #skills-container {
        padding-left: 6%;
        padding-right: 6%;
    }

    #contenedor-seccion4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #titulo1-seccion3 , #titulo2-seccion3{
        font-size: 140%;
        margin-top: 5%;
    }


    }
    