
#nav-bar {
    margin: 2%;
    
}

#boton-say-hello {
    color:#0e2430;
    font-size: 120%;
    border-color:#0e2430;
    border-style:dashed;
    border-radius: 30px;
    font-family: altonebold;
transition: all 1s ease;
  position: relative;
}


#boton-say-hello:hover {
    background-color:#f5b349;
    color: #0e2430;
}


.navbar-light .navbar-toggler {
    background-color: #ffbd68;
}